*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /*font-family: "PT Serif", serif;*/
}
.overflowxhidden{
    overflow-x: hidden;
}
body{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    position: relative;
}
section,header,footer{
    width: 100%;
    float: left;
}
:root{
    --primary-color: #02214F;
    --text-black : #1B1C1E;
    --text-black-lgt : #292526;
    --light-bg: #F6F7F8;
    --light-bg-2 : #F2F5F7;
    --nav-bg : #2E2F34;
}
/* header  start*/
.header{
   position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    background: #fff;
    padding: 30px 0 0;
}

.menu-flex{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.mobilesearchicon{
    position: relative;
    left: 30px;
    top: 8px;
    width: 40px;
}
.onlymobilesearchsec{
    display: flex;
    gap: 1.5rem;
}
.mobilesearchicon img{
    width:20px;
    max-width:20px;
}
.header .logo{
    padding-bottom:20px ;
}
.logo img{
    display: block;
}
.header-links{
    padding-top: 20px;
}
.header ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0;
/*    height: 100%;*/
}
.header-links ul{
    /*gap: 30px;*/
    display: flex;
    justify-content: space-between;
}
/*.header-links li{
    position: relative;
}*/
.header-links li a{
    text-decoration: none;
    color: #02214F;
    font-size: 16px;
    font-weight: 400;
    padding: 50px 15px;
    transition: 0.4s;
}
.header-links li a:hover{
    color: var(--primary-color);
}
.header-links li a .dropdownicon{
    padding-left: 5px;
}
.header-links  ul li .mainsubnav{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 110px;
    width: 200px;
    background: #02214F ;
    /*    animation: megamenuani .3s linear forwards;*/
    transition: .5s all;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  display: block !important;
}
.header-links  ul li .mainsubnav li{
   padding:10px 10px;
    border-bottom: 1px rgba(255, 255, 255, 0.60) solid;
    position: relative;
    width: 100%;
}
.header-links  ul li .mainsubnav li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    transition: .3s all;
    padding:20px 10px;
}
.header-links  ul li .mainsubnav li a:hover{
    color: #fff;
    font-weight: 500;
}
.header-links .mainsubnav li .subnav{
    display: none;
    position: absolute;
    top:0;
    right: 0;
    background: #f2f2f2;
    width: 200px;
    transform: translateX(100%);
}
.header-links li:hover .mainsubnav{
   visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.header-links .mainsubnav li:hover  .subnav{
   display: block;
}



header{
    position: relative;
}
.header-links  ul li .megamenu{
/*    display: none;*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background: #02214F url(../images/texture.png);
    background-size: cover;
    width: 100%;
    z-index: 9;
    padding: 2rem;
/*    overflow-y: scroll;*/
    height: 100vh;
/*    animation: megamenuani .3s linear forwards;*/
    transition: .5s all;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
/* width */
.header-links  ul li .megamenu::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.header-links  ul li .megamenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff; 
  border-radius: 10px;
}
 
/* Handle */
.header-links  ul li .megamenu::-webkit-scrollbar-thumb {
  background: #030C19; 
  border-radius: 10px;
}

/* Handle on hover */
.header-links  ul li .megamenu::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}

.header-links  ul li:hover .megamenu{
/*    display: block;*/
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
@keyframes megamenuani{
    0%{
        top: 90px;
        opacity: 0;
    }
    100%{
        top: 110px;
        opacity: 1;
    }
}
.header-links  ul li .megamenu ul{
    display: block;
    padding: 0;
    margin: 0;
}
.header-links  ul li .megamenu h6{
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
    border-bottom: 1px #EBEBEB solid;
    padding-bottom: .6rem;
}
.header-links  ul li .megamenu ul li a{
    padding: 7px 0;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    transition: .3s all;
}
.header-links  ul li .megamenu ul li a:hover{
    color: #fff;
    font-weight: 500;
}
.header-links  ul li .megamenu ul.row{
    display: flex;
}



/*Mobile Menu*/
#slide{
    display: none
}
.sidewarper{z-index:999999;background-color:rgba(0,0,0,.9);position:fixed;height:100%;overflow:scroll;overflow-x:hidden;left:-1400px;top:0;bottom:0}
#slidesection{width:320px}
#slidesection .container{ padding:0 !important}
#slidesection .overscroll{padding:10px 10px 30px 10px}
#slidesection .topclose{background-color:#000; color:#fff;font-size:20px;text-transform:uppercase;padding:15px 30px;display:block}
#slidesection .topclose a{display:block;color:#fff !important; cursor:pointer}
#slidesection .topclose a i{ float:right}
#slidesection .topclose a strong{ color:#fff}
#slidesection .overscroll #sidelinks{color:#fff; }
#slidesection .overscroll #sidelinks ul{ padding:0}
#slidesection .overscroll #sidelinks ul li{list-style:none;}
#slidesection .overscroll #sidelinks a{display:block;padding:10px 0;color:#fff;font-weight:400}
#slidesection .overscroll #sidelinks li+li{border-top:1px rgba(255,255,255,.2) dashed}
#slidesection .overscroll #sidelinks a{color:#fff}
#slidesection .overscroll #sidelinks .subchild{background-color:#155aba;margin-top:10px}
#slide{cursor:pointer}
.accordion-toggle{cursor:pointer;margin:0;display:block;position:relative}
.accordion-toggle span{position:absolute;right:5px;top:0; text-align:center;line-height:20px;color:#fff;z-index:999;width:20px;height:20px}
.accordion-toggle .disinb{display:inline-block!important}
.accordion-content ul{background-color:#333; margin-top: 15px;}
.accordion-content ul li{border:0!important}
.accordion-content ul a{padding:5px 10px!important}
.accordion-content{display:none}
.topsocial a{ color:#fff; display:inline-block; font-size:20px;}
.topsocial a+a{ margin-left:9px;}
.mobilenone{display: block}
.mobilemenuinfo {
    padding: 20px 0;
}
.mobilemenuinfo ul{
    padding: 0;
}
.mobilemenuinfo ul li{
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px #313131 solid;
}
.mobilemenuinfo ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
.desktophide{display: none}
@media (max-width: 768px) { 
    .desktophide{display: block}
    .mobilenone{
        display: none !important
    }
    #slide{
    display: block;
    margin-top: 0px;
    font-size: 24px;
    color: #fff;
}

}


.header-options ul{
    gap: 10px;
    align-items: center;
}

.header-options li a{
    color: var(--primary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.header-options li {
    padding: 7px 20px;
    position: relative;
    background: transparent;
    border: 1px var(--primary-color) solid;
    border-radius: 4px;
}
.header-options li img{
    display: block;
}
.header-options li:nth-child(3)::before,.header-options li:nth-child(3)::after{
    content: "";
    height: 10px;
    width: 0.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background:#C3C3C3;
}
.header-options li:nth-child(3)::before{
    left: 0;
}
.header-options li:nth-child(3)::after{
    right: 0;
}
/* header end  */



/* footer start  */
.footer{
    padding: 30px 0 0px 0;
    background: #fff;
}
.footer .footer-links-box h6{
    color: #02214F;
    font-family: "PT Serif", serif;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px #EBEBEB solid;
    padding-bottom: .88rem;
}
.footer .footer-links-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer .footer-links-box li a{
    text-decoration: none;
    color: #030C19;
    transition: 0.4s;
    font-size: 14px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 400;
}
.footer .footer-links-box li a:hover{
    color: var(--primary-color);
}
.footer .footer-links-box li {
    padding-bottom: 1.5rem;
    padding-left: 0;
    position: relative;
}
/*.footer .footer-links-box li a:hover{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 2px;
    height: 15px;
}*/
.footermiddle{
    padding: 2.2rem 3.9rem;
    border-top: 1px #EBEBEB solid;
    margin-top: 1rem;
}
.footermiddleleft{
    display: flex;
    gap: 3.6rem;
    align-items: center;
}
.footermiddleleft .phonetab {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 62px;
}
.footermiddleleft .phonetab a img{
    padding-right: 5px;
}
.footermiddleleft .phonetab a{
    color: #030C19;
    font-family: Roboto;
    font-size: .75rem;
    text-decoration: none;
    transition: .3s all;
}
.footermiddleleft .phonetab a:hover{
    color: var(--primary-color);
}
.footermiddlesocial{
    text-align: right;
}
.footermiddlesocial ul{
    padding: 0;
}
.footermiddlesocial ul li{
    list-style: none;
    display: inline-block;
    padding-bottom: 0;
}
.footermiddlesocial ul li a{
    text-align: center;
    margin: 0 auto;
}
.footermiddlesocial ul li+li{
    margin-left:1.4rem;
}
.footerbottom{
    background: #F7F7F7;
}
.corpofc a{
    align-items: flex-start!important;
    line-height: 1.5!important;
}
.corpofc a img{
    position: relative;
    top: 3px;
}
.copyright{
    padding:.8rem 0;
}
.copyright p{
    color: #030C19;
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 0 ;
}
.copyright ul{
   
}
.copyright li{
    padding-bottom: 0;
    padding-left: 10px;
     display: inline-block;
}


.footermobilemenu .accordion{
    width: 100%;
}
.footermobilemenu .accordion-header{
    padding-bottom: 1.5rem;
}
.footermobilemenu .accordion-item{
    border: 0;
    border-radius: 0;
    padding-bottom: 15px;
}
.footermobilemenu .accordion-button{
    padding: 0;
}
.footermobilemenu .accordion-item h6 {
    color: #02214F;
    font-family: "PT Serif", serif;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 500;
    border-bottom: 0;
    padding-bottom: 0;
}
.footermobilemenu .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}
.footermobilemenu .accordion-body {
    padding: 0px 0 0;
}
.footermobilemenu .accordion-item:nth-last-child(1)  .accordion-header{
     border-bottom: 0;
}
.header-links ul li .megamenu ul.row .col-lg-4, .header-links ul li .megamenu ul.row .col-md-4{
    padding-left: 0
}
.footermiddlesocial li img{
    transition: .5s all;
    cursor: pointer;
}

/*scroll back to top css start*/


.progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(0,0,0,0.1);
    z-index: 99999;
    opacity: 0;
    background: #ffffff;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #02214F; /* --- Pijl kleur --- */
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    animation: moveupdown1 2s infinite linear;
}
.progress-wrap:hover::after {
    opacity: 0;
}
.progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background: black; /* --- Pijl hover kleur --- */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
    opacity: 1;
}
.progress-wrap svg path { 
    fill: none; 
}
.progress-wrap svg.progress-circle path {
    stroke: #02214F; /* --- Lijn progres kleur --- */
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
/*scroll back to top css start*/



/* footer end  */

/*common css start*/
.revealimage{
    visibility: hidden;
    position: relative;
    overflow: hidden;
}
.revealimage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}
.secpadd60{
    padding: 60px 0;
}
.secpadtb4020{
     padding: 40px 0 20px;
}
.secpadtb2040{
     padding: 20px 0 40px;
}
.secpadbottom60{
    padding-bottom: 60px;
}
.commonhead h2{
    color: #02214F;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 110%;
    font-family: "PT Serif", serif;
}




/*common css end*/



/*home banner start*/
.homebanner .bannervideo{
    position: relative;
}
.homebanner .bannervideo video{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}
.homebanner .bannervideo:after{
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    background: url(../images/shape1.png);
    width: 32px;
    height: 32px;
    z-index: 9;
}
.bannerslidernew{
    padding:0 2px  
} 
.homebanner .bannerdetail{
    width: calc(100% - 100px);
    padding-left: 10px;
}
.homebanner .bannerdetail h2{
    font-size:4rem;
    color: #02214F;
    font-weight: 400;
    font-family: "PT Serif", serif;
    margin-bottom: 40px;
}
.homebanner .bannerdetail p{
    font-size: 1.12rem;
    color: #464E5A;
    margin-bottom: 20px;
    position: relative;
}
.bannerslidernew{
    overflow: hidden;
}
.homebanner .bannerdetail p:after{
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 3px;
    height: 25px;
    background: #E96932;
}
.homebanner .bannerdetail a{
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s all;
    display: flex;
    align-items: center;
}
   /* .homebanner .bannerdetail a .svg-anim{
            display: flex;
            gap: 10px;
            align-items: center;
            flex-shrink: 0;
            width: 27px;
            overflow: hidden;
            position: relative;
            margin-left: 10px;
        }
        .homebanner .bannerdetail a .svg-anim svg{
            flex-shrink: 0;
            transition: 0.4s all;
        }
        .homebanner .bannerdetail a .svg-anim svg:nth-child(1){
            flex-shrink: 0;
            position: absolute;
            left: -37px;
        }
        .homebanner .bannerdetail a .svg-anim svg:nth-child(2){
            position: relative;
            left: 0;
            transition: 0.4s all;
        }
        .homebanner .bannerdetail a:hover .svg-anim svg:nth-child(1){
            left: 0;
        }
        .homebanner .bannerdetail a:hover .svg-anim svg:nth-child(2){
            left: 37px;
        }*/














.homebanner .bannerdetail a img{
    display: inline-block;
    width: 26px;
}
.homebanner .bannerdetail a span svg{
    margin-left: 5px;
    transition: .3s all;
}
/*.homebanner .bannerdetail a:hover{
    color: #02214F;
}
.bannerdetail a:hover span svg{
    margin-left: 15px;
}*/
/*.bannerdetail a:hover span svg path{
    fill: #02214f;
}*/
.bannerslidernew {
    position: relative;
}
.bannerslidernew .slick-dots{
    position: absolute;
    bottom: 20px;
    left: 5px;
    text-align: left;
}
.bannerslidernew .slick-dots li{
    background: #E5E5E5;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.bannerslidernew .slick-dots .slick-active{
    background: #02214F;
}
.whatsnewsec .whatsnewcont{
    margin-top: 2rem;
    margin-left: 14rem;
    border:1px #F5F5F5 solid;
    box-shadow: 0px 4px 20px rgba(168, 169, 169, 0.1);
    display: flex;
    flex-grow: 0 0 1;
}
.whatsnewbox{
    padding: 2.5rem 2.5rem;
    height: 100%;
    position: relative;
    width: 33%;
}
.whatsnewsec .whatsnewbox+.whatsnewbox:after{
    content: '';
    position: absolute;
    left: 0;
    top: 4.5rem;
    background: #EBEBEB;
    height: 5rem;
    width: 1px;
}

.commbtn1{
    font-size: .9rem;
    font-weight: 500;
    color: #030C19;
    text-decoration: none;
    text-transform: uppercase;
}
.commbtn1 span{
    margin-left: 5px;
    transition: .3s all;
}
.commbtn1:hover{
    color: #E96932;
}
.commbtn1:hover span {
    margin-left: 15px;
}
.commbtn1:hover span svg path{
    fill: #E96932;
}


.commbtn2{
    font-size: .9rem;
    font-weight: 500;
    color: #030C19;
    text-decoration: none;
    text-transform: uppercase;
    transform: scale(1);
    height: auto;
    width: auto;
    display: block;
    transition: .6s all;
}
.commbtn2 span{
    margin-left: 5px;
    transition: .3s all;
}
.commbtn2:hover{
    color: #E96932;
    transform: scale(1.04);
}
.commbtn2:hover span {
    margin-left: 15px;
}
.commbtn2:hover span svg path{
    fill: #E96932;
}



.commbtn3{
    font-size: .9rem;
    font-weight: 500;
    color: #030C19;
    text-decoration: none;
    text-transform: uppercase;
}
.commbtn3 span{
    margin-left: 5px;
    transition: .3s all;
}
.commbtn3:hover{
    color: #02214F;
}
.commbtn3:hover span {
    margin-left: 15px;
}
.commbtn3:hover span svg path{
    fill: #02214F;
}

.whatsnewbox3{
    width: auto;
    height: auto;
    transform: scale(1);
    transition: .5s all;
}
.whatsnewbox3:hover{
    transform: scale(1.08);
}


.whatsnewbox .date{
    display: block;
    font-size: .67rem;
    color: #232323;
    margin-bottom: 1.4rem;
}
.whatsnewbox .date img{
    margin-right: 5px;
    position: relative;
    top: -1px;
    filter: invert(46%) sepia(92%) saturate(1491%) hue-rotate(343deg) brightness(97%) contrast(88%);
}
.whatsnewbox p{
    color: #232323;
    font-family: "PT Serif", serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
}
.quotetext{
    margin-top: 1.7rem;
}
.quotetext h3 strong .word{
    font-family: "PT Serif", serif;
    color: #02214F;
    font-weight: 700;
}
.quotetext h3{
    width: 35rem;
    margin: 0 auto;
}
.quotetext h3 .word{
    color: #232323;
    text-align: center;
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
}

.quote_arrow {
    animation: moveupdown1 2s infinite linear;
}

/*----------------------------------------*/
/*  1.4 Keyframe Styles CSS
/*----------------------------------------*/
@-webkit-keyframes moveupdown1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveupdown1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


.marqueebox {
  position: absolute;
  top: 0;
  left: 0;
}
.awardmarquee{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.marqueebox2 {
  position: absolute;
  top: 0;
  left: 0;
}
.serviceleftbox{
    background: #02214F;
    padding: 3.12rem 2.5rem;
   /* position: sticky;
    top: 0*/
}
.serviceleftbox  h3{
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    color: #fff;
    margin-bottom: 50px;
}
.serviceleftbox  p{
    position: relative;
    color: #fff;
    font-size: 1.12rem;
    padding-left:1rem;
    height: 100%;
    font-weight: 400;
    padding-right: 10px;
}
.serviceleftbox  p:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #E96932;
    width: 0.1875rem;
    height: 1.65275rem;
}
.servicetab{
    margin: 4.3rem 2rem 0 3rem;
}
.servicetab ul li{
    list-style-type: none;
    position: relative;
    transform: scaleX(1);
    transition: all .4s ;
}
.servicetab ul li+li{
    margin-top: 3.5rem;
}
.servicetab ul li a{
  
    transition: all .4s ;
}
.servicetab ul li a:hover{
    transform: scaleX(1.05);
}
.servicetab ul li a.active{
    transform: scaleX(1.05);
}
.servicetab ul li a.active:hover{
    transform: scaleX(1.05);
}
.servicetab ul li a span{
    position: absolute;
    top: 0;
    right: 0;
    transition: all .4s ;
}
.servicetab ul li a img{
    filter: invert(74%) sepia(7%) saturate(750%) hue-rotate(178deg) brightness(89%) contrast(89%);
    transition: all .4s ;
}
.servicetab ul li a{
   color: rgba(255, 255, 255, 0.60);
    font-family: "PT Serif", serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.servicetab ul li:hover a img, .servicetab ul li .nav-link.active  img{
    filter: invert(94%) sepia(94%) saturate(2%) hue-rotate(19deg) brightness(110%) contrast(100%);
}
.servicetab ul li:hover a, .servicetab ul li .nav-link.active{
    color: #fff;
}
.mobilesertab ul {
    padding-left: 15px;
}
.mobilesertab ul li a{
    color: #fff;
}
.mobilesertab ul li a img{
    filter: invert(94%) sepia(94%) saturate(2%) hue-rotate(19deg) brightness(110%) contrast(100%);
}
.serviceslider{
    position: relative;
    margin-top: 10rem;
    height: 600px;
    overflow: hidden;
}
.serviceslider .slick-list {
  height: auto !important;
  position: relative;
 
}
.servicetablist{
    position: relative;
    margin-bottom: 3.2rem;
    padding: 0 3rem;
}
/*.servicetablist a{
    position: absolute;
    right: 0;
    top: 5px;
}*/
.servicedertail h3{
     padding-right: 40px;
     position: relative;
    color: #02214F;
    font-family: "PT Serif", serif;
    font-size: 1.75rem;
    font-weight: 400;
    transition: .3s all;
}
.servicedertail a:hover h3{
    color: #E96932;
}
.servicedertail a{
    text-decoration: none;
}
.servicedertail  a span{
     position: absolute;
    right: 10px;
    top: 0px;
    transition: .3s all;
}
.servicedertail a span svg{
    margin-left: 5px;   
}
.servicedertail a:hover{
    color: #02214F;
}
.servicedertail a h3:hover span {
    right: 0px;
}
.servicedertail a:hover span svg path{
    fill: #E96932;
}
.servicedertail p{
    color: #030C19;
    font-size: 1rem;
    width: calc(100% - 100px);
    
    display: -webkit-box;
    height: 70px;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;

}
.awardsec{
    padding: 7rem 0 5rem;
}
.awardleft{
    margin-right: 7.1rem;
    margin-left: 3rem;
}
.awardleft h3{
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    color: #02214F;
    margin-bottom: 50px;
}
.awardleft p{
    position: relative;
    color: #030C19;
    font-size: 1.12rem;
    padding-left:1rem;
    height: 100%;
    font-weight: 400;
}
.awardleft p:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #E96932;
    width: 0.1875rem;
    height: 1.65275rem;
}
.awardleft a{
    padding-left:1rem;
}
.awardleft a:hover{
    padding-left:1.5rem;
}
/*
.awardleft a span{
    margin-left: 5px;
    transition: .3s all;
}
.awardleft a:hover{
    color: #02214F;
}
.awardleft a:hover span {
    margin-left: 15px;
}
.awardleft a:hover span svg path{
    fill: #02214f;
}*/
.awardrightbox{
    border-radius: 0.25rem;
    border: 1px solid #F5F5F5;
    margin-bottom: 1.12rem;
    padding:  .75rem .81rem;
    position: relative;
    height: 150px;   
}
.awardrightbox .awarddetail{
    width: calc(100% - 125px);
    margin-left: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .81rem;
    position: relative;
}
.awardrightbox .awarddetail:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
   background: url(../images/border-left.png);
   width:1px;
   height: 120px;
}
.awardrightbox .awardimg{
    position: absolute;
    top: .75rem;
    left: .81rem;
}
.awardrightbox .awarddetail p{
    margin: 0;
    color: #030C19;
    font-size: 1rem;
}
.awardrightbox .awarddetail .awardyear{
    color: #02214F;
    font-size: 0.75rem;
    font-weight: 600;
}
.insightsec .insightshead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.insightsec .insightshead h3{
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    color: #02214F;
    margin-bottom: 50px;
}
.insightsec .insightshead ul {
    margin-bottom:2rem;
}
.insightsec .insightshead ul li+li{
    margin-left: 3.75rem;
}
.insightsec .insightshead ul li{
    display: inline-block;
}
.insightsec .insightshead ul li a{
    text-decoration: none;
    color: #030C19;
    font-size: 1.125rem;
    position: relative;
    padding-left: 0.6rem;
    cursor: pointer;
}
.insightsec .insightshead ul li a.active{
    color: #02214F;
}  
.insightsec .insightshead ul li a.active:after{
    content:'';
    position: absolute;
    left: 0;
    top: 1px;
    background: #E96932;
    width: 0.1875rem;
    height: 1.5rem;;
}   
/*.articleimage{
    position: relative;
}
.articleimage:after {
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    background: url(../images/shape1.png);
    width: 32px;
    height: 32px;
    z-index: 9;
}*/
.articleimage img{
    width: 100%;
}
.articledetail {
    padding: 1.4rem 1.2rem;
}
.articledetail h4{
    color: #232323;
    font-family: "PT Serif", serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
}
.articledetail h5{
    color: #02214F;
    font-size: 1rem;
    font-weight: 400;
}
.articledetail p{
    color: #030C19;
    font-size: 1rem;
}
.articleslider{
    position: relative;
}
.articleslider .owl-nav{
    width: 100%;
    margin-left: 1.2rem;
}
.articleslider .owl-nav button{
    margin-right: 15px;
}

.articleslider .owl-nav .owl-prev{
   /* position: absolute;
    top: 30%;
    left: -50px;
    z-index: 9;*/
    border: 1px #a2a2a2 solid !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .4s all;
}

.articleslider .owl-nav .owl-next{
    /*position: absolute;
    top: 30%;
    right: -50px;
    z-index: 9;*/
    border: 1px #a2a2a2 solid !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .4s all;
}
/*.articleslider .owl-nav .owl-prev:hover{
    transform: rotate(360deg);
}
.articleslider .owl-nav .owl-next:hover{
    transform: rotate(360deg);
}*/

.blogbox{
    border-radius: 4px;
    border: 1px solid #ECECEC;
    padding: 3.12rem 2.44rem 0rem .81rem;
    min-height: 26rem;
    position: relative;
}

.blogbox h4{
    color: #232323;
    font-family: "PT Serif", serif;
    font-size: 1.25rem;
    margin-bottom: 5.7rem;
}
.blogbox p{
    color: #030C19;
    font-size: 1rem;
}
.blogbox .date{
    position: absolute;
    bottom: 1.2rem;
    left: .81rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.blogbox .date span{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.875rem;
}
.blogbox .date img{
    width: 18px;
}
.blogslider{
    position: relative;
}
.blogslider .owl-nav{
    width: 100%;
    margin-top: 2rem;
}
.blogslider .owl-nav button{
    margin-right: 15px;
}
.blogslider .owl-nav .owl-prev{
   /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    z-index: 9;*/
    border: 1px #a2a2a2 solid !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .4s all;
}

.blogslider .owl-nav .owl-next{
   /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    z-index: 9;*/
    border: 1px #a2a2a2 solid !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: .4s all;
}
/*.blogslider .owl-nav .owl-prev:hover img{
    transform: rotate(360deg);
}
.blogslider .owl-nav .owl-next:hover img{
    transform: rotate(360deg);
}*/


.growwith .growimg{
    position: relative;
}
.growwith .growimg img{
    width: 100%;
}
.growwith .growimg:after{
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    background: url(../images/shape1.png);
    width: 32px;
    height: 32px;
    z-index: 9;
}
.growwith .growdetail{
    padding-left: 3.75rem;
}
.growwith .growdetail h3{
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    color: #02214F;
    margin-bottom: 50px;
}
.growwith .growdetail p{
    position: relative;
    color: #030C19;
    font-family: Roboto;
    font-size: 1.125rem;
    padding-left: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;

}
.growwith .growdetail p:after{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background: #E96932;
    width: 0.1875rem;
    height: 1.5rem;
}
.growwith .growdetail ul{
    padding-left: 1rem;
    margin-left: 0;
}
.growwith .growdetail ul li{
    list-style: none;
    position: relative;
    padding: 1.88rem 0;
    text-transform: uppercase;
}
.growwith .growdetail ul li a{
    color: #030C19;
    text-decoration: none;
}
.growwith .growdetail ul li span{
    position: absolute;
    top: 1.8rem;
    right: 10px;
    transition: .3s all;
}

.growwith .growdetail ul li svg{
    margin-left: 5px;
    
}
.growwith .growdetail ul li a:hover{
    color: #E96932;
}
.growwith .growdetail ul li:hover span {
    right: 0px;
}
.growwith .growdetail ul li a:hover span svg path{
    fill: #E96932;
}
.growwith .growdetail ul li+li{
    border-top:1px #E4E6E9 solid;

}
.growwith .growdetail ul li:nth-last-child(1){
    padding-bottom: 0;
}
.connectpadd{
    padding: 4.1rem;
}
.connectus{
    position: relative;
}
.connectus:after{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 50%;
    right: 0;
    border-left: 1px solid #D7DFED;
    height: 65%;
}
.connectus h4{
    color: #02214F;
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    margin-bottom: 1.88rem;
}
.connectus p{
    color: #030C19;
    font-size: 0.875rem;
    margin-bottom: 1.88rem;
}
.connectus form .form-group{
    padding-left: 1px;
    margin-bottom: 1.8rem;
}
.connectus form .form-group input{
    padding:1.44rem 0.95rem ;
    color: #030C19;
    font-family: Roboto;
    font-size: 1rem;
    width: 100%;
    background: #F9F9F9;
    border: 0;
    border-radius: 0;
}
.connectus form .form-group p{
    font-size: .75rem;
}
.connectus form .form-group p a{
    color: #02214F;
    text-decoration-line: underline;
}
.connectus form .form-group button{
    border: 0;
    background: none;
/*    color: #030C19;*/
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;

}
.connectus form .form-group button span{
    margin-left: 5px;
     transition: .3s all;
}

.connectus form .form-group button span{
    margin-left: 5px; 
}
.connectus form .form-group button:hover span {
    margin-left: 15px;
}
/*.connectus form .form-group button:hover{
    color: #02214F;
}*/

/*.connectus form .form-group button:hover span svg path{
     fill: #02214f;
}*/
   

.connectbox{
    text-align: center;
}
.connectbox img{
    margin-bottom: 1.88rem;
}
.connectbox p{
    color: #030C19;
    font-size: 1.25rem;
}

/*home banner end*/


/*Breadcum section start*/
.breadcumsec{
    padding: 10px 0;
}
.breadcumsec .commonbreadcum ul{
    margin: 0 auto;
    padding: 0;
}
.breadcumsec .commonbreadcum ul li:nth-child(1){
    padding-left: 0;
}
.breadcumsec .commonbreadcum ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.breadcumsec .commonbreadcum ul li+li:after{
    content: '';
    position: absolute;
    left: -3px;
    top: 9px;
    background: url(../images/breadcum-arrow.svg) ;
    width:5px;
    height: 7.4px;
}
.breadcumsec .commonbreadcum ul li a{
    text-decoration: none;
    color: #464E5A;
    font-size: 12px;
}
.breadcumsec .commonbreadcum ul li:nth-last-child(1) a{
    font-weight: 500;
    color: #02214F;
}
/*Breadcum section end*/
.sharecom-btn{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 9;
     width: 40px;
     height: 40px;
     border: 1px #02214F solid;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
}

.practicelist ul{
    padding: 0;
}
.practicelist ul li{
    position: relative;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 1.12rem;
    color: #464E5A;
    list-style: none;
}
.practicelist ul li:after{
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #E96932;
}



@media (min-width: 1340px) and (max-width: 1400px) {
    .awardrightbox .awarddetail p{
    font-size: 0.8rem;
}
}
@media (min-width: 1340px) and (max-width: 1920px) {
   .container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3.75rem;
} 
.customcontainer{
    padding-left: 5.1rem;
    width: 100%;
} 
.whatsnewsec .commonhead h2{
    padding-left: 8rem;
}
.awardsec .container{
    padding: 0 10rem;
}
.commoninnertop .customcontainer{
    padding: 0 6.6rem;
}





}


@media (max-width: 1400px) { 
.header-links  ul li .megamenu{
    overflow-y: scroll;
    height: 500px;
}
}

@media (max-width: 768px) { 
    .container{
    padding: 0 30px;
} 
    .logo img {
    width: 150px;
}
.homebanner .bannerdetail h2 {
    font-size: 2.5rem;
    margin-bottom: 20px
}
.homebanner .bannerdetail p {
    font-size: 1rem;
}
.homebanner .bannerdetail p:after {
    top: 2px;
    width: 3px;
    height: 20px;
}
.homebanner .bannerdetail {
    width: 100%;
}
.homebanner .bannervideo video {
    width: 100%;
    height: auto;
}
.bannerdetail{
    margin-bottom: 40px
}

.bannerslidernew{
    padding-bottom: 30px;
}
.bannerslidernew .slick-dots{
    position: relative;
    top: 20px;
}
.whatsnewsec .whatsnewcont {
    margin-top: 2rem;
    margin-left: 0;
    display: block;
}
.whatsnewbox {
    padding: 2rem;
    height: 100%;
    position: relative;
    width: 100%;
    border-bottom: 1px #F5F5F5  solid;
}
/*.whatsnewbox p {
    margin-bottom: 0;
}*/
.whatsnewbox .date {
    margin-bottom: 1rem;
}

.quotetext h3 {
    width: 100%;
}
/*.secpadd60 {
    padding: 40px 0;
}*/
.insightsec .insightshead h3 {
    font-family: "PT Serif", serif;
    font-size: 3.25rem;
    color: #02214F;
    margin-bottom: 50px;
}
.insightsec .insightshead ul li+li {
    margin-left: 1.7rem;
}
.quotetext {
    margin-top: 4.5rem;
}
.secpadd60 {
    padding: 40px 0;
}
.serviceleftbox h3 {
    font-size: 2.25rem;
    margin-bottom: 20px;
}
.serviceleftbox {
    padding: 2.5rem;
}
.servicetab {
    margin: 2.3rem 0rem 0 0rem;
}
.servicetab ul li+li {
    margin-top: 2rem;
}
.serviceright {
    margin: 3rem 0;
}
.servicetablist {
    width: calc(100% - 36px);
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0px 2rem;
}
.servicedertail h3 {
    font-size: 1.5rem;
}
.serviceleftbox p {
    font-size: 1rem;
    padding-left: 12px;
}
.serviceleftbox p:after {
    top: 1px;
    height: 1.4rem;
}
.servicedertail a {
    display: block;
    margin-bottom: 1.3rem;
}
.awardsec marquee{
    margin-top: 1.5rem;
}
.awardsec {
    padding: 0rem 0 2rem;
}
.awardleft h3 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}
.awardleft p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.awardleft {
    margin-right: 0;
    margin-left: 0rem;
    margin-bottom: 30px
}
.insightsec .insightshead h3 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}
.insightsec .insightshead {
    display: block;
    margin-bottom: 1.5rem;
}
.insightsec .insightshead ul {
    margin-bottom: 2rem;
    padding: 0;
}
.articledetail {
    padding: 1.4rem .0rem;
}
.articledetail h4 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
.articleslider .owl-nav {
    margin-left:0;
}
/*.articleslider .owl-nav{
    text-align: center;
}*/
/*.articleslider .owl-nav .owl-prev{
    position: absolute;
    top: auto;
    bottom: -20px;
    left: 40%;
    z-index: 9;
}

.articleslider .owl-nav .owl-next{
    position: absolute;
    top: auto;
    bottom: -20px;
    right: 40%;
    z-index: 9;
}*/
.growwith .growdetail {
    padding-left: 0rem;
    margin-top:3rem
}
.growwith .growdetail h3 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}
.growwith .growdetail p {
    font-size: 1rem;
}
.connectpadd {
    padding: 0rem;
}
.connectus h4 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
}
.connectus:after {
    display: none
}
.connectbox{
    text-align: left;
    margin-top: 2rem;
} 
/*.footermiddleleft .phonetab{
    display: block;
}*/
.footermiddle {
    padding: 2.5rem 1rem 1.5rem;
    margin-top: 1rem;
}
.footermiddleleft .phonetab a {
    font-size: .8rem;
}
.footermiddleleft {
    gap: auto;
}
.footermiddleleft .phonetab {
    width: 100%;
    gap: 15px
}
.footermiddleleft .phonetab a{
    margin-bottom:7px;
    display: block;
}
.footermiddlesocial {
    text-align: center;
    margin-top: 20px
}
.footermiddleleft .footerlogo{
    width: 150px;
}
.footermiddleleft .phonetab a img {
    width: 22px;
}
.empowersubhead h3 {
    text-align: left;
    width:auto;
    font-size: 1.4rem;
    margin-top: 3rem;s
}
.empoweringboxes {
    margin-right: 0;
    margin-bottom: 5rem;
}
.keypeoplefilter form .form-group {
    width: auto;
    margin-bottom: 25px;
}
.testimonialslider:after {
    display: none;
}
.keypeopleslider{
    padding-bottom: 70px;
}
/*.keypeopleslider .owl-nav{
    text-align: center;
}*/
/*.keypeopleslider .owl-nav .owl-prev{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 37%;
    z-index: 9;
}

.keypeopleslider .owl-nav .owl-next{
    position: absolute;
    top: auto;
    bottom: 0;
    right: 37%;
    z-index: 9;
}*/
/*.testimonialslider{
    padding-bottom: 70px;
}*/
/*.testimonialslider .owl-nav{
    text-align: center;
}
.testimonialslider .owl-nav .owl-prev{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 37%;
    z-index: 9;
}

.testimonialslider .owl-nav .owl-next{
    position: absolute;
    top: auto;
    bottom: 0;
    right: 37%;
    z-index: 9;
}*/
.commoninnersec h1 {
    font-size: 3rem;
}
.empowerheadsec .innerpagehead h2 {
    font-size: 2rem;
    font-family: "PT Serif", serif;
}
.empowerheadsec .innerpagehead h2:after {
    top: 4px;
    height: 3.9375rem;
}
.empowersubhead {
    padding-top: 1.6rem;
}
.keypeoplesec h2 {
    font-size: 2.25rem;
}
.testimonialsec h2 {
    font-size: 2.25rem;
    line-height: 140%;
}
.explsectorsec h2 {
    font-size: 2.2rem;
}
.exploresectorbox {
    margin: 0 0rem 2rem;
}
.exploredetail {
    padding-top: 2rem;
}
.empowerheadsec .innerpagehead {
    padding-top: 6rem;
}
.maufacturepopup .modal .modal-body .popupleft {
    padding: 3.19rem 0 1rem 1.3rem;
}
.maufacturepopup .modal-dialog {
    max-width: 100%;
}
.commoninnersec .manuheadseclft {
    padding-right: 0rem;
    margin-bottom: 25px
}
.commoninnersec2 {
    width: 100%;
}
.commoninnersec2 p {
    font-size: 1.3rem;
    line-height: 2.0rem;
}
.whylks .whatsnewcont {
    margin-left: 0rem !important;
}
.whylks .whatsnewbox {
    padding: 20px 0rem 10px;
    margin-bottom: 10px;
}
.whylks .whatsnewbox:nth-last-of-type(1) {
   
    margin-bottom: 0;
    border: 0;
}
.commoninnersec2 h1 {
    font-size: 2.4rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}
.commonhead h2 {
    font-size: 2.2rem;
    line-height: 100%;
}
.practiccontainer h2 {
    font-size: 2.2rem;
    margin-bottom: 2.12rem;
}
.container .practiccontainer {
    padding: 0 0rem;
}
.secpadtb2040 {
    padding: 20px 0 20px;
}
.value-d .value-inner .value-right {
    margin-top: 2.5rem;
    padding-left: 15px;
}
.value-d .value-inner .value-right:after {
    left: 0;
}
.history-rgt-bx h5 {
    font-size: .9rem;
}
.serviceslider {
    margin-top: 5rem;
}
.keypeoplefilter form .form-group button {
    width: 150px;
}

}




@media (max-width: 500px) {
.servicetablist {
    padding: 5px 0rem;
    width: calc(100% - 0px);
}
.servicedertail p {
    width: calc(100% - 0px);
}
.awardrightbox .awarddetail{
    width: calc(100% - 90px);
    margin-left: 90px;
}
.awardrightbox .awardimg{
    margin: 0 auto;
}
 .awardrightbox .awardimg img{
    width: 80px;
 }
 .empoweringdetail .boxsepreter .empoweringboxes {
    border-left: 0;
    padding: 0 0rem 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px rgba(0, 0, 0, .05) solid;
}
.empoweringdetail .boxsepreter:nth-last-of-type(1)  .empoweringboxes {
    margin-bottom: 0;
    border-bottom: 0;
}

}
@media (max-width: 400px) {
.mobilesearchicon {
    width: 40px;
    left: 33px;
}
.insightsec .insightshead ul li+li {
    margin-left: 1rem;
}
.insightsec .insightshead ul li a {
    font-size: 1rem;
}
.awardrightbox .awarddetail p{
    font-size: .8rem;
}
.articleslider .owl-nav .owl-prev {
    left: 33%;
}
.articleslider .owl-nav .owl-next {
    right: 33%;
}
.footermiddle {
    padding: 2.5rem 0rem 1.5rem;
    margin-top: 1rem;
}
.articledetail h4 {
    font-size: 1.2rem;
}
.empowerheadsec .innerpagehead h2 {
    font-size: 1.8rem;
    line-height: 125%;
}
.keypeoplebox .keypeopleboxdet h4 {
    font-size: 1.2rem;
    line-height: 140%;
}
.keypeoplebox .keypeopleboxdet p {
    color: #464E5A;
    font-size: 1rem;
    line-height: 1.4rem;
}
.keypeopleslider .owl-nav .owl-prev{
    left: 33%;
}
.keypeopleslider .owl-nav .owl-next {
    right: 33%;
}
.testimonialslider .owl-nav .owl-prev{
    left: 33%;
}
.testimonialslider .owl-nav .owl-next {
    right: 33%;
}
.commoninnersec h1 {
    font-size: 2.4rem;
}
.serviceleftbox {
    padding: 1rem;
}
#serviceTab{
    padding-left: 1rem;
    padding-right: 1rem;
}

}